<html>
  <head>
    <title>Welcome | Marko Demo</title>
    <script src="https://unpkg.com/jquery"/>
    <script src="https://unpkg.com/easy-pie-chart/dist/jquery.easypiechart.min.js"/>
  </head>
  <body>
    <app-main/>
  </body>
</html>
